@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "react-calendar/dist/Calendar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (Light mode) */
:root {
    /* background-color: white; */
    background-color: transparent;
}

body {
    font-family: "Montserrat", serif;
}

/* Drawer fix */
html:has(.drawer-toggle:checked) {
    overflow-y: hidden;
    scrollbar-gutter: auto;
}

/* --- Base calendar --- */
.react-calendar {
    font-family: "Kanit", serif;

    @apply max-w-[500px] border;
    @apply bg-secondary-white text-primary-black border-none;
    /* Light mode */
}

.dark .react-calendar {
    @apply bg-secondary-black text-primary-white border-none;
    /* Dark mode */
}

/* --- Navigation (bulan & tahun atas) --- */
.react-calendar__navigation {
    @apply flex items-center justify-between p-2;
}

.react-calendar__navigation button,
.react-calendar__navigation__label {
    @apply text-sm font-medium px-2 py-1 rounded-none bg-secondary-white hover:bg-third-white text-primary-black focus:bg-secondary-white;
}

.dark .react-calendar__navigation button,
.react-calendar__navigation__label {
    @apply text-sm font-medium px-2 py-1 rounded-none bg-secondary-black hover:bg-primary-black text-primary-white focus:bg-secondary-black;
}

.react-calendar__year-view .react-calendar__tile {
    @apply text-sm font-medium px-4 py-2;
}

.dark .react-calendar__year-view .react-calendar__tile {
    @apply text-sm font-medium px-4 py-2;
}

/* --- Days (Sun–Sat header) --- */
.react-calendar__month-view__weekdays {
    @apply text-xs uppercase font-semibold text-primary-black dark:text-primary-white;
}

.dark .react-calendar__month-view__weekdays {
    @apply text-primary-black dark:text-primary-white;
}

.react-calendar__month-view__weekdays__weekday {
    abbr {
        text-decoration: none;
    }
}

/* --- Tile (setiap tanggal) --- */
.react-calendar__tile {
    @apply text-sm rounded-none p-2 bg-secondary-white hover:bg-primary-white text-primary-black transition-colors;
}

.dark .react-calendar__tile {
    @apply text-sm rounded-none p-2 bg-secondary-black hover:bg-primary-black text-primary-white transition-colors;
}

/* Selected day */
/* Light mode */
.react-calendar__tile.react-calendar__tile--active,
.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active {
    @apply bg-third-white text-primary-black hover:bg-third-white font-bold;
}

/* Dark mode */
.dark .react-calendar__tile.react-calendar__tile--active,
.dark .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active {
    @apply bg-primary-black text-primary-white hover:bg-primary-black font-bold;
}

/* Today */
.react-calendar__tile--now {
    @apply bg-secondary-white text-secondary-black hover:bg-primary-white;
}

.dark .react-calendar__tile--now {
    @apply bg-secondary-black hover:bg-primary-white text-primary-white;
}

.react-calendar__tile.react-calendar__tile--now {
    @apply bg-secondary-white text-secondary-black hover:bg-fourth-white;
}

.dark .react-calendar__tile.react-calendar__tile--now {
    @apply bg-secondary-black text-primary-white hover:bg-primary-black;
}

/* Disabled */
.react-calendar__tile:disabled {
    @apply text-secondary-black bg-primary-white cursor-not-allowed;
}

.dark .react-calendar__tile:disabled {
    @apply text-secondary-black bg-secondary-black;
}

/* CMS */
/* Light mode */
.ce-block,
.ce-header,
.ce-paragraph,
.content-render {
    @apply font-normal text-primary-black py-0 my-0;
}

.ce-toolbox__button,
.ce-toolbar__settings-btn,
.ce-toolbar__plus {
    @apply bg-secondary-black text-secondary-white hover:bg-secondary-black;
}

/* Dark mode */
.dark .ce-block,
.dark .ce-header,
.dark .ce-paragraph {
    @apply text-primary-white;
}

.dark .ce-toolbar__content,
.dark .ce-settings {
    background-color: #1f2937;
    /* bg-gray-800 */
    color: #f3f4f6;
}

.dark .ce-toolbox__button,
.dark .ce-toolbar__settings-btn,
.dark .ce-toolbar__plus {
    @apply bg-secondary-white text-secondary-black hover:bg-secondary-white;
}

.cdx-search-field__input {
    @apply text-primary-black;
}

.ce-block__content,
.content-render {
    p {
        @apply font-normal text-primary-black py-0 !mt-0;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: larger;
    }

    h4 {
        font-size: medium;
    }
}

.dark .ce-block__content,
.dark .content-render {
    p {
        @apply font-normal text-primary-white py-0 !mt-0;
    }
}

.ce-paragraph {
    text-align: justify;
}

.ce-tune-alignment--left {
    .ce-paragraph {
        text-align: left;
    }
}

.ce-tune-alignment--right {
    .ce-paragraph {
        text-align: right;
    }
}

.ce-tune-alignment--center {
    .ce-paragraph {
        text-align: center;
    }
}

.ce-block__content,
.ce-toolbar__content {
    @apply max-w-none;
}

.codex-editor__redactor {
    padding-bottom: 0 !important;
}

/* TIME */
input[type="time"]::-webkit-calendar-picker-indicator {
  @apply cursor-pointer;
  filter: invert(1);
}

.dark input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

input[type="time"]::-webkit-inner-spin-button {
  @apply hidden;
}
